/* #region Common */

:root {
  --color-black-text: #141414;
  --color-white-text: #fbfbfb;
  --color-primary-brand: #ab7200;
  --color-accent: #d4bfc4;
  --color-green-background: #576f35;
  --сolor-details: #858585;
  --color-transparent-black: rgba(20, 20, 20, 0.2);
  --color-social-facebook: #3b5998;
  --color-social-instagram: #e4405f;
  --color-social-twitter: #1da1f2;
  --color-social-youtube: #ff0000;
  --color-social-linkedin: #0e76a8;
  --color-whatsapp: #25d366;
  --color-error-state: #e74a3b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  background-color: var(--color-black-text);
  color: var(--color-white-text);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* COMMON STYLES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide {
  display: none;
}

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

.text-golden {
  color: var(--color-primary-brand);
}
.btn {
  transition: ease 0.3s;
  transition-property: background-color transform;
}
.btn:hover {
  background-color: var(--color-error-state);
  transform: scale(1.2);
}
.title {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.text {
  font-size: 16px;
  font-weight: 400;
  max-width: 500px;
}

/* #endregion */

/* #region header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 15px 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: none;
}
.header-logo {
  display: flex;
}
.header-logo-img {
}

@media only screen and (min-width: 1280px) {
  .header-nav {
    display: flex;
    align-items: center;
    gap: 150px;
  }

  .header-list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .header-item {
  }
  .header-link {
    transition: 0.3s ease;
    transition-property: color transform;
  }
  .header-link:hover {
    color: var(--color-primary-brand);
    transform: scale(1.1);
  }
}
.header-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header-text {
  font-weight: 400;
  font-size: 10px;
  max-width: 120px;
  text-align: center;
}
.header-tel {
  font-size: 16px;
  font-weight: 600;
  transition: ease 0.3s;
  transition-property: color transform;
}
.header-tel:hover {
  color: var(--color-primary-brand);
  transform: scale(1.1);
}
.header-lang {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header-lang-link {
  transition: ease 0.3s;
  transition-property: transform;
}
.header-lang-link:active,
.header-lang-link:hover {
  transform: scale(1.2);
}
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}
@media only screen and (min-width: 1280px) {
  .header-btn {
    display: none;
  }
}
.header-open-nemu {
  stroke: var(--color-white-text);
}
.header-social {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header-social {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

/* #endregion */

/* #region modal menu */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;

  background-color: var(--color-black-text);
  padding: 32px;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media only screen and (min-width: 1280px) {
  .overlay {
    display: none;
  }
}
.overlay.active {
  transform: translateX(0);
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  stroke: var(--color-white-text);
}
.modal-close-icon {
}
.modal-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.modal-item {
}
.modal-link {
  font-size: 24px;
  font-weight: 700;
  transition: color 0.3s ease;
}
.modal-link:active {
  color: var(--color-primary-brand);
}
.header-info {
}
.header-text {
}
.header-tel {
}

/* #endregion */

/* #region hero */

.hero {
  position: relative;
  background-image: url(../img/hero/hero-mob@1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 300px;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/hero-mob@2x.webp);
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/hero-tab@1x.webp);
  }
  /* @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/hero-tab@1x.webp);
    }
  } */
}
@media only screen and (min-width: 1280px) {
  .hero {
    background-image: url(../img/hero/hero-desk@1x.webp);
  }
  /* @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/hero-desk@1x.webp);
    }
  } */
}

/* @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero@2x.webp);
  }
} */

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 500px;
}

.hero-text {
  font-size: 20px;
  font-weight: 500;
  max-width: 500px;
}
.hero-btn {
}
.hero-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-brand);
  padding: 10px 20px;
  border-radius: 5px;

  transition: ease 0.3s;
  transition-property: background-color transform;
}
.hero-tel:hover {
  background-color: var(--color-error-state);
  transform: scale(1.2);
}
/* #endregion */

/* #region services */

.services {
  padding-top: 40px;
  padding-bottom: 40px;
}
.services-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;
}
.btn-scroll-up {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 1000;
  background-color: var(--color-primary-brand);
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  opacity: 0; /* Изначально скрываем */
  visibility: hidden;
}
.btn-scroll-up.show {
  opacity: 1;
  visibility: visible;
}
.scroll-icon {
  stroke: var(--color-black-text);
}

.services-title {
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.services-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgb(171, 114, 0, 0.5);

  overflow: hidden;
}
.services-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  border-radius: 10px;
}

.services-item:hover::before {
  background: rgba(0, 0, 0, 0.5);
}
.services-item:hover .services-price {
  opacity: 1;
  visibility: visible;
}
.services-img {
  object-fit: cover;
  border-radius: 10px;
}

.services-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.services-subtitle {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: auto;
}

.services-price {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 12px;
  width: 100%;
  padding: 10px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.services-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-brand);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 295px;
  border-radius: 5px;
}

@media only screen and (max-width: 375px) {
  .services-btn {
    width: 240px;
  }
}

/* #endregion */

/* #region overlay price barber */

.overlay-price-barber {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.price-barber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100vw;
  height: 100vh;

  background: var(--color-black-text);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  padding: 50px 24px 24px;
  transition: transform 250ms ease;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
@media only screen and (min-width: 768px) {
  .price-barber {
    border-radius: 10px;
    width: 85%;
    height: 96%;
  }
  .price-barber::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .price-barber {
    width: 50%;
  }
}
.overlay-price-barber.is-hidden .price-barber {
  transform: translate(-50%, -50%) scaleY(0);
}

.price-barber-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.price-barber-close-icon {
  stroke: var(--color-white-text);
}
.barber-title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1280px) {
  .price-barber-social {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
.barber-subtitle {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.barber-service-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}
.barber-service-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
  align-items: center;
  justify-content: inherit;
}
.barber-service-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white-text);
  width: 385px;
}
.barber-price {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary-brand);
}
.barber-time {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-error-state);
}

/* #endregion */

/* #region info */

.info {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/info@1x.webp);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .info {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/info@2x.webp);
  }
}
.info-title {
  margin-bottom: 20px;
}
/* #endregion */

/* #region staff */

.staff {
  padding-top: 40px;
  padding-bottom: 40px;
}
.staff-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.staff-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.staff-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.staff-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  border-radius: 10px;
}
.staff-item:hover::before {
  background: rgba(0, 0, 0, 0.5);
}
.staff-item:hover .staff-text {
  opacity: 1;
  visibility: visible;
}

.staff-img {
  object-fit: cover;
  border-radius: 10px;
}
.staff-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  height: 90%;
}
.staff-subtitle {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: auto;
}
.staff-text {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 12px;
  width: 100%;
  padding: 10px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* .staff-item:hover .staff-text {
  opacity: 1;
  visibility: visible;
} */

/* #endregion */

/* #region smp */

.smp {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/spm@1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .smp {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../img/spm@2x.webp);
  }
}
.smp-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}
.smp-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.smp-title {
  display: flex;
}
.smp-text {
}
.smp-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.smp-wrapper {
}
.smp-subtittle {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}
.smp-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.smp-item {
  transition: ease 0.3s;
  transition-property: transform color;
  cursor: pointer;
}
.smp-item:hover {
  color: var(--color-primary-brand);
  transform: scale(1.1);
}

/* #endregion */

/* #region gallery */

.gallery {
  padding-top: 40px;
  padding-bottom: 40px;
}
.gallery-title {
  margin-bottom: 20px;
}
.gallery-img {
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
}
.swiper {
  max-width: 375px;
}

@media only screen and (min-width: 768px) {
  .swiper {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1280px) {
  .swiper {
    max-width: 1280px;
  }
}
.swiper-pagination {
  .swiper-pagination-bullet {
    background-color: var(--color-primary-brand);
  }
}
.swiper-button-prev {
  color: var(--color-primary-brand);
}
.swiper-button-next {
  color: var(--color-primary-brand);
}
/* #endregion */

/* #region about */

.about {
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-title {
  margin-bottom: 20px;
}
.about-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .about-info {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .about-info {
    gap: 100px;
    justify-content: center;
  }
}
.about-subtitle {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.about-address {
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.about-item {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: ease 0.3s;
  transition-property: transform;
}
.about-item:hover {
  transform: scale(1.05);
  color: var(--color-primary-brand);
}
.about-icons {
}
.about-text {
  font-size: 14px;
  font-weight: 400;
}
.about-social {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.about-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.about-social-item:hover {
  transform: scale(1.3);
}
.about-icons {
  fill: var(--color-white-text);
  transition: 0.3s ease;
  transition-property: color transform;
}
.about-place {
  fill: var(--color-primary-brand);
}
.about-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-map {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-video {
  display: flex;
  max-width: 375px;

  max-height: 300px;
  border-radius: 10px;
}
.social-facebook {
  background-color: var(--color-social-facebook);
}
.social-instagram {
  background-color: var(--color-social-instagram);
}
.social-whatsapp {
  background-color: var(--color-whatsapp);
}
/* #endregion */
