/* #region Common */

:root {
  --color-black-text: #141414;
  --color-white-text: #fbfbfb;
  --color-primary-brand: #7a3145;
  --color-accent: #d4bfc4;
  --color-green-background: #576f35;
  --сolor-details: #858585;
  --color-transparent-black: rgba(20, 20, 20, 0.2);
  --color-success-state: #3cbc81;
  --color-error-state: #e74a3b;
}

body {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  background-color: var(--color-black-text);
  color: var(--color-white-text);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* COMMON STYLES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide {
  display: none;
}

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

/* #endregion */

/* #region header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 15px 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
}
.header-logo {
}
.header-logo-img {
}
.header-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header-text {
  font-weight: 400;
  font-size: 10px;
  max-width: 120px;
  text-align: center;
}
.header-tel {
  font-size: 16px;
  font-weight: 600;
}
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}
.header-open-nemu {
  stroke: var(--color-white-text);
}

/* #endregion */

/* #region hero */

.hero {
  position: relative;
  background-image: url(../img/DSC00100.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 300px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.hero-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 500px;
}
.text {
  font-size: 16px;
  font-weight: 400;
  max-width: 500px;
}
.hero-text {
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-brand);
  padding: 10px 20px;
  border-radius: 5px;
}
.hero-tel {
}

/* #endregion */

/* #region services */

.services {
  padding-top: 20px;
  padding-bottom: 40px;
}
.services-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services-title {
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.services-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.services-img {
  object-fit: cover;
  border-radius: 10px;
}
.services-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}
.services-subtitle {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 380px;
}
@media only screen and (max-width: 375px) {
  .services-subtitle {
    margin-bottom: 300px;
  }
}
.services-price {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.services-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-brand);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 295px;
  border-radius: 5px;
}

@media only screen and (max-width: 375px) {
  .services-btn {
    width: 240px;
  }
}
/* #endregion */
